<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
</head>
<body>

<p><a th:href="@{/logout}">Logout</a></p>

Logged user: <p th:text="${username}"/>

<table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"/>
                <td th:text="${book.author}"/>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <td><a th:href="@{/books/{bookId}/(bookId=${book.id})}">details</a></td>
                </div>

            </tr>
        </tbody>
    </table>
</body>
</html>