<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Order list</title>
</head>
<body>

<a th:href="@{/orders/create}">Create order</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Product name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"/>
                <td th:text="${order.productName}"/>
                <td th:text="${order.quantity}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>