<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello msg</title>
</head>
<body>

<p th:text="${helloMsg}"></p>

<div>
    <p th:each="elem : ${elements}" th:text="${elem}"></p>
</div>

<!--Poniższa zmienna pochodzi z pliku messages.properties - właściwość pl.sda.message-->
<p th:text="#{pl.sda.message}"></p>

</body>
</html>